/* Button.css */

/* Estilos base para el botón */

.button {
  @apply w-40 h-12 flex items-center justify-center px-custom-md py-custom-xs rounded-lg border-none cursor-pointer;
}

.icon-left{
  @apply mr-custom-sm
}

.icon-right{
  @apply ml-custom-sm
}

.icon-left img,
.icon-right img {
  width: 18px; 
  height: 18px;
  vertical-align: middle; 
}

.button.primary {
  @apply bg-primary-darkBlue-300 text-primary-lightBlue-50 
}


